@using ProjetFinal.Models;
@model ProjetFinal.Models.Souris

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Souris</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeCatego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCatego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<div class="form-group" style="margin-bottom:80px">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Ajoute aux panier", "Index", "Paniers") <input type="submit" value="Ajout aux panier" class="btn btn-default" />
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour à la Liste souris", "Index") |
    @Html.ActionLink("Retour aux Catalogue", "Index", "Items")
</p>
