@using ProjetFinal.Models;
@model ProjetFinal.Models.Item

@{
    ViewBag.Title = "Details";
    SelectList selectListClients = new SelectList(ViewBag.client, "Id", "Nom");
}

<h2>Details</h2>

<div>
    <h4>Item Catalogue</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TypeCatego)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeCatego)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prix)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prix)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>

@using (Html.BeginForm("AddItem", "Paniers", new { idItem = Model.Id }, FormMethod.Post, null))
{
    <div class="form-group">
        <div class=" col-md-5">
            <div class="input-group">
                @Html.DropDownList("DropDownlistClient", selectListClients, "Selectionner un Client", new { @class = "form-control", required = "required" })
                <div class="input-group-btn">
                    <button type="submit" class="btn btn-success">Ajouter</button>
                </div>
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
