@model ProjetFinal.Models.Panier

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Panier</h4>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var panierItem in Model.Items)
        {
            <dt>
                Nom
            </dt>

            <dd>
                @panierItem.Item.Nom
            </dd>

            <dt>
                Prix
            </dt>

            <dd>
                @panierItem.Item.Prix
            </dd>

            <dt>
                Quantité
            </dt>

            <dd>
                @panierItem.Qty
                @Html.ActionLink("+", "ModifierQty", new { IdPanierItem = panierItem.ID, IdPanier = Model.Id, QtyModif = 1 })
                @Html.ActionLink("-", "ModifierQty", new { IdPanierItem = panierItem.ID, IdPanier = Model.Id, QtyModif = -1 })
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Retour aux panier", "Index")
</p>
<div>
    @Html.ActionLink("Retour aux Catalogue", "Index", "Items")
</div>
<div>
    <br />
</div>
