@model IEnumerable<ProjetFinal.Models.Panier>

@{
    ViewBag.Title = "Panier";
    List<ProjetFinal.Models.Client> listClient = ViewBag.listeclient;
}

<h2>Panier</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nom du client
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th></th>
    </tr>

@for (int i = 0; i < Model.Count(); i++ ) {
    var panier = Model.ElementAt(i);
    var client = listClient.ElementAt(i);
    <tr>
        <td>
            @client.Nom
        </td>
        <td>
            @Html.DisplayFor(modelItem => panier.Total)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
            @Html.ActionLink("Details", "Details", new { id = panier.Id }) @*|
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
        </td>
    </tr>
}

</table>

<div>
    <br />
</div>
<div>
    @Html.ActionLink("Retour aux Catalogue", "Index", "Items")
</div>
<div>
    <br />
</div>
